.board {
  width: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.board-cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}